/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
	
#pane1{
	-fx-background-color: dodgerblue;
}	
	
#pane2{
	-fx-background-color: #53A2AB;
}

#comboboxPane{
	-fx-background-color: #27627F;
}

#combobox {
	-fx-background: white;
    -fx-background-color: white;
    -fx-font-weight: normal;
    -fx-font-family: System;
    -fx-font-size: 18;
}

#anchorMain{
	-fx-background-color: white;
}

#labelPane{
	-fx-background-color: #001824;
}

#anchorAuthentification{
	-fx-background-color: white;
}

#anchorTransaction{
	-fx-background-color: white;
}

#anchorFunctionVersion{
	-fx-background-color: white;
}

#label1{
	-fx-background-color: white;
}

#label2{
	-fx-background-color: white;
}


#btnStart{
	-fx-background-color: #90AD56;
}

#btnSave{
	-fx-background-color: #90AD56;
}

#btnSettings{
	-fx-background-color: #9FE3DD;
}

#btnOk1{
	-fx-background-color: #27627F;
}

#btnOk2{
	-fx-background-color: #27627F;
}

#btnOk3{
	-fx-background-color: #27627F;
}

#paneAuthentification{
	-fx-background-color: #27627F;
}

#paneTransaction{
	-fx-background-color: #27627F;
}

#paneVersion{
	-fx-background-color: #27627F;
}

#paneFunction{
	-fx-background-color: #27627F;
}

/*Styling alert boxes */
.dialog-pane {
    -fx-background-color: white;
    
}

.dialog-pane .label {
    -fx-text-fill: #003d50;
    -fx-font-family: System;
    -fx-font-Style: Normal;
    -fx-font-size: 20;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #DBDAC1;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: Normal;
    -fx-font-size: 3em;
}

.table-view{
	-fx-font-size: 18;
}