/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*Main.fxml */
#anchorMain{
	-fx-background-color: white;
}
#pane2{
	-fx-background-color: #53A2AB;
}

#btnSettings{
	-fx-background-color: #9FE3DD;
}
#btnStart{
	-fx-background-color: #90AD56;
}
#comboboxPane{
	-fx-background-color: #27627F;
}
#combobox {
	-fx-background: white;
    -fx-background-color: white;
    -fx-font-weight: normal;
    -fx-font-family: System;
    -fx-font-size: 18;
}

/* Advanced Settings.fxml*/
#anchorSettings{
	-fx-background-color: white;
}
#paneSettings{
	-fx-background-color: #27627F;
}
#btnSave{
	-fx-background-color: #90AD56;
}
#paneVendorModel{
	-fx-background-color: #53A2AB;
}

/*ServerFunction.fxml */	
#anchorFunction{
	-fx-background-color: white;
}
#paneFunction{
	-fx-background-color: #27627F;
}

/*ServerVersion.fxml */
#anchorVersion{
	-fx-background-color: white;
}
#paneVersion{
	-fx-background-color: #27627F;
}

/*TestingAuthentification.fxml */
#anchorAuthentification{
	-fx-background-color: white;
}
#paneAuthentification{
	-fx-background-color: #27627F;
}

/*TestingTransaction.fxml */
#anchorTransaction{
	-fx-background-color: white;
}
#paneTransaction{
	-fx-background-color: #27627F;
}

/*TestingVersion.fxml*/
#anchorTestingVersion{
	-fx-background-color: white;
}
#paneTestingVersion{
	-fx-background-color: #27627F;
}

/*TestingFunctions.fxml*/
#anchorTestingFunctions{
	-fx-background-color: white;
}
#paneTestingFunctions{
	-fx-background-color: #27627F;
}

/*Styling alert boxes */
.dialog-pane {
    -fx-background-color: white;
    
}
.dialog-pane .label {
    -fx-text-fill: #003d50;
    -fx-font-family: System;
    -fx-font-Style: Normal;
    -fx-font-size: 20;
}
.dialog-pane:header .header-panel {
    -fx-background-color: #DBDAC1;
}
.dialog-pane:header .header-panel .label {
    -fx-font-style: Normal;
    -fx-font-size: 3em;
}

/*Table view of ServerFunction and Server Version */
.table-view{
	-fx-font-size: 16;
}
.table-view .table-column {
	-fx-alignment:center;
}